body{
    background-color:aqua;
    box-sizing: content-box;
}

.heading{
    color:blue;
}

.list{
    list-style-type:none;
    font-size:24px;
    color:blueviolet
}

.column{
    color:blue;
    font-size:24px;
}